{% load i18n %}
{% load static %}

{% block subject%}
Your account has been successfully created and activated!
{% endblock subject%}

{% block html_body %}

  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8" />
      <meta http-equiv="x-ua-compatible" content="ie=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Ectype Account Confirmation</title>
      <link href="https://res.cloudinary.com/doxlqbv7r/raw/upload/v1697640758/Templates/index_ovivr4.css" rel="stylesheet" />
    </head>
    <body>
      <section>
        <div class="centered">
          <img src="https://res.cloudinary.com/doxlqbv7r/image/upload/c_fit,h_150,w_150/v1692624680/Templates/logo__black_j4r8k5.png"
              class="logo-image"
              alt="Ectype logo"/>
        </div>
        <div class="container">
            <p>Your account has been created and is ready to use!</p>
            <p>Thanks for using <a href="https://ectype.finance">Ectype</a>!</p>
        </div>
        <div class="container">
          <p>
            If you have any questions, contact us at <a href="mailto:support@ectype.finance">Ectype Support</a>.
          </p>
        </div>
        <div class="container">
          <footer>
            <p>Cheers, Ectype Team</p>
          </footer>
        </div>

      </section>
      
    </body>
  </html>
  <style>
    .centered {
      text-align: center;
    }

    .centered img {
      display: block;
      margin: 0 auto;
    }
  </style>
{% endblock html_body %}

